.home{
  .info-section{
    width: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 56px;

    .icon-section{
      a{
        color: white;
        text-decoration: none;
        font-size: 1.7rem;
        padding: 0 10px;
        &:hover{
         color: $darkblue;
        }
        &:first-child{
          padding: 0 10px 0 0;

        }
      }

    }

    .info-box{
      position: absolute;
      bottom: 60px;
      h4{
        font-size: 1.2rem;
        color: $white;
        margin: 0.7rem 0
      }
      p{
        font-size: 0.9rem;
        color: $white;
        margin: 0.2rem 0 1.5rem;
      }
    }
  }


  .content-area {
    background: $white;
    height: 100%;
    width: 65%;
    margin-left: 35%;
    .img-container {
      display: inline-block;
      width: 25%;
      position: relative;
      height: 100%;
      .user-img{
        position: absolute;
        top: 56px;
        left: -200px;
        height: calc(100% - 112px);
        width: 400px;
        background: url('../img/me.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-box-shadow: 10px 10px 72px 6px rgba(0,0,0,0.34);
        -moz-box-shadow: 10px 10px 72px 6px rgba(0,0,0,0.34);
        box-shadow: 10px 10px 72px 6px rgba(0,0,0,0.34);

      }

    }
    .profile-section{
      vertical-align: top;
      display: inline-block;
      width: 500px;
      padding: 25% 0 0 0;
      .profile{
        h1{
          font-size: 2.3rem;
          font-weight: 500;
          line-height: 1.2;
          margin: 0 0 1rem 0;
          span{
            color: $lighterBlue;
          }
        }
        h5{
          font-size: 1.1rem;
          margin: 0 0 2rem;
          }
        p{
          color: $lightGrey;
          font-weight: 300;
          line-height: 1.4;
          margin: 0 0 2rem 0;
          }
        }
      }

    }
  }

//Phones
  @media (max-width: 726px){

    .home{
      .menu-icon{
        top: -3px;
        right: 20px;
        .fa{
          color: white;
        }
      }
      .info-section{
      background-color: $lighterBlue;
      padding: 10px 20px;
      position: static;
      height: 70px;
      width: 100%;
      .logo{
        height: 50px;
        width: 100px;
        font-size: 1rem;
      }
      }
      .info-box{
        display: none;
      }
      .content-area {
        margin-left: 0;
        width: 100%;
        .img-container {
          padding: 56px 20px 0;
          .user-img {
            position: static;
            width: 100%;
          }
        }

        .profile-section{
          width: 70%;
          float: right;
          padding: 20% 20px 0;
        }
      }
    }
}

//tablet
  @media (min-width: 726px) and (max-width: 991px){
.home {
  .content-area {
    .img-container {
      padding: 56px 10px 0;

      .user-img {
        position: static;
        width: 100%;

        }
      }
      .profile-section{
        width: 70%;
        float: right;
        padding: 20% 20px 0;
        .profile {
          .btn-box{
            display: flex;
            .btn{
              justify-content: center;
              padding: 5px;
            }
          }
        }
      }

    }
  }
}

// Laptop
  @media (min-width: 992px) and (max-width: 1199px){
    .home {
      .content-area {
        .img-container {
          padding: 56px 10px 0;

          .user-img {
            position: static;
            width: 100%;

            }
          }
          .profile-section{
            width: 70%;
            float: right;
            padding: 20% 20px 0;
          }

        }
      }
}

  @media (min-width: 1120px) {

}
