
$mint: #5ee6c6;

$black: #272727;

$white: #fefefe;

$lightGrey: #a9a9a9;

$grey: #bdbdbd;

$darkblue: #0f486c;

$grad: linear-gradient(#ef8df1, #6cc7ee);

$lighterGrey: #efefef;

$lightBlue: #6cc7ee;
$lighterBlue: #05aff7;

$lightPink: #ef8df1;
